<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.rules.studio.decisionservice.launching.DecisionOperation">
<stringAttribute key="com.ibm.rules.studio.decisionservice.ui.OPERATION_PATH" value="/Agence Voyage Regles/déploiement/OD_AgenceVoyages"/>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_SIGN">
<mapEntry key="demande" value="function pn.src.Demande get_demande_value()"/>
<mapEntry key="resa" value="function pn.src.Reservation get_resa_value()"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_FUNCT_VALUES">
<mapEntry key="demande" value="pn.src.Passager p1 = new pn.src.Passager(&quot;titi&quot;, &quot;toto&quot;, 25, &quot;carte 12-25&quot;);&#10;&#10;&#10;&#10;pn.src.Demande result = new pn.src.Demande(&quot;Paris&quot;,&quot;Nantes&quot;, 1,100,2,null);&#10;&#10;result.passagers.add(p1);&#10;&#10;return result;&#10;"/>
<mapEntry key="resa" value="pn.src.Reservation result  = new pn.src.Reservation();&#10;return result;&#10;"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_NAMES">
<mapEntry key="demande" value="demande"/>
<mapEntry key="resa" value="resa"/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_SIMPLE_VALUES">
<mapEntry key="demande" value=""/>
<mapEntry key="resa" value=""/>
</mapAttribute>
<mapAttribute key="ilog.rules.studio.launching.RULESET_PARAMETERS_TYPES">
<mapEntry key="demande" value="2"/>
<mapEntry key="resa" value="2"/>
</mapAttribute>
<booleanAttribute key="ilog.rules.studio.launching.STOP_AT_FIRST_STATEMENT" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Agence Voyage Regles"/>
<listEntry value="/Agence Voyage Regles"/>
<listEntry value="/Agence Voyage Regles/déploiement/OD_AgenceVoyages.dop"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Agence Voyage Regles"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.util.logging.config.file=&quot;${workspace_loc}/Agence Voyages Regles/logging.properties&quot;"/>
</launchConfiguration>